<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FWI Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
    <div class="login">
        <h1>FWI Prediction</h1>
        <form action="{{ url_for('predict_datapoint') }}" method="post">
            <div class="form-group">
                <label for="Temperature">Temperature (°C)</label>
                <input type="text" id="Temperature" name="Temperature" placeholder="Temperature" required="required" />
            </div>
            <div class="form-group">
                <label for="RH">Relative Humidity (%)</label>
                <input type="text" id="RH" name="RH" placeholder="RH" required="required" />
            </div>
            <div class="form-group">
                <label for="Ws">Wind Speed (km/h)</label>
                <input type="text" id="Ws" name="Ws" placeholder="Ws" required="required" />
            </div>
            <div class="form-group">
                <label for="Rain">Rain (mm/m²)</label>
                <input type="text" id="Rain" name="Rain" placeholder="Rain" required="required" />
            </div>
            <div class="form-group">
                <label for="FFMC">Fine Fuel Moisture Code</label>
                <input type="text" id="FFMC" name="FFMC" placeholder="FFMC" required="required" />
            </div>
            <div class="form-group">
                <label for="DMC">Duff Moisture Code</label>
                <input type="text" id="DMC" name="DMC" placeholder="DMC" required="required" />
            </div>
            <div class="form-group">
                <label for="ISI">Initial Spread Index</label>
                <input type="text" id="ISI" name="ISI" placeholder="ISI" required="required" />
            </div>
            <div class="form-group">
                <label for="Classes">Classes</label>
                <input type="text" id="Classes" name="Classes" placeholder="Classes" required="required" />
            </div>
            <div class="form-group">
                <label for="Region">Region</label>
                <input type="text" id="Region" name="Region" placeholder="Region" required="required" />
            </div>
            <button type="submit" class="btn-primary">Predict FWI</button>
        </form>
        <h2>
            THE FWI Prediction is {{results}}
        </h2>
    </div>
</body>
</html>